<div>
  <label for="inputA">Nombre A:</label>
  <input id="inputA" type="number" [(ngModel)]="a" />
</div>

<div>
  <label for="inputB">Nombre B:</label>
  <input id="inputB" type="number" [(ngModel)]="b" />
</div>

<button (click)="calculate()">Calculer</button>

<div *ngIf="result !== undefined">
  <p>Résultat : {{ result }}</p>
</div>

<p>
  la variable production est {{production}}
</p>

<p>
  on est sur la version {{version}}
</p>

<p>
  on est en train de tester le build automatique par jenkins
</p>

<p>
  On est en train de tester le build automatique pour chaque push sur github
</p>